fastapi==0.95.0
pydantic==1.8.2
uvicorn[standard]==0.15.0
SQLAlchemy==2.0.36
sqlalchemy-stubs==0.4
aiosqlite==0.17.0
anyio==3.7.1
requests==2.30.0
black==21.12b0
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-pie==0.15.0
mypy==1.0.0
pytest==7.0.1
